* 
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box
}

body
{
    margin: 0;
}

.container {margin: auto; width: 1150px}

.header .image img {height:800px;
    width: 100%;
    position: relative;
    border-bottom: 15px solid #009191
}

.header .image .nav 
{
    width: 1150px;
    margin: 0 auto;
    background-color: rgba(8, 173, 173, 0.9);
    position: absolute; 
    top: 0
}

.header .image .nav ul
{
    
    list-style: none;
    margin: 0 auto;
}


.header .image .nav ul li 
{
    color : #FFF;
    display: inline-block;
    padding: 20px 50px;
    font-family: "Gadugi", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.header .image .nav ul li:nth-of-type(4) {padding-left: 280px}


.header .image .nav ul :nth-of-type(3)
{
    padding: 0 15px;
    font-size: 120px;
    background-color: #009191;
    font-family: "brock", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    position: absolute;
}


@font-face 
{
    font-family: Gadugi;
    src: url(gadugi.ttf)
}

@font-face
{
    src: url(brock.ttf);
    font-family: brock
}

@font-face
{
    src: url(BebasNeue.otf);
    font-family: bebas
}

.header .image p:nth-of-type(1)
{
    font-family: bebas;
    top: 400px;
    margin: 0;
    font-size: 100px;
    background-color: #00CCCC;
    width: 570px ; height: 107px;
    position: absolute;
    text-align: center
}

.header .image p:nth-of-type(2)
{
    -webkit-font-family: bebas;
    font-family: bebas;
    -webkit-top: 525px;
    top: 525px;
    margin: 0;
    font-size: 100px;
    background-color: #000;
    width: 350px ; height: 107px;
    position: absolute;
    text-align: left;
    padding-left: 15px;
    color: #00CCCC
}

.header .image p:nth-of-type(2) span
{
    color: #FFF
}